[submodule "fork/flycheck"]
	path = fork/flycheck
	url = https://github.com/jojojames/flycheck.git

[submodule "fork/smartparens"]
	path = fork/smartparens
	url = https://github.com/jojojames/smartparens.git
[submodule "fork/motion-mode"]
	path = fork/motion-mode
	url = https://github.com/jojojames/motion-mode.git
[submodule "fork/xcode-mode"]
	path = fork/xcode-mode
	url = https://github.com/jojojames/xcode-mode.git
[submodule "fork/emacs-clang-complete-async"]
	path = fork/emacs-clang-complete-async
	url = https://github.com/jojojames/emacs-clang-complete-async.git
[submodule "fork/omnisharp-server"]
	path = fork/omnisharp-server
	url = https://github.com/jojojames/omnisharp-server
[submodule "fork/company-mode"]
	path = fork/company-mode
	url = https://github.com/jojojames/company-mode
